<!-- views/signin.handlebars -->
<div class="jumbotron">
  <h1>Research Network Central Node</h1>
  <table style="width:100%">  
            <tr>
                <th>
                    <div style="left: 15px;">
                      <p>
                          Please log in as:<br>
                        - Principal Investigator in order to submit a new study <br>
                        - Central Node Administrator in order to manage studies<br>
                      </p>
                    </div>
                </th>
                <th>
                    <div style="right: 10px;">
                      <form id="local-sign-in" action="/login" method="post">
                        <div>
                            <p></p>
                            <label>Username:</label>
                            <input type="text" name="username"/>
                        </div>
                        <br>
                        <div>
                            <label>Password:</label>
                            <input type="password" name="password"/>
                        </div>
                        <br>
                        <div>
                            <center><input type="submit" class="btn btn-primary btn-sm" value="Log In"/></center>
                        </div>
                      </form>

                      <form id="local-reg" class="collapse" action="/local-reg" method="post">
                        <div>
                            <p></p>
                            <label>New Username:</label>
                            <input type="text" name="username"/>
                        </div>
                        <br>
                        <div>
                            <label>New Password:</label>
                            <input type="password" name="password"/>
                        </div>
                        <div>
                            <center><input type="submit" class="btn btn-primary btn-sm" value="Register"/></center>
                        </div>
                      </form>

                    </div>
                </th>
            </tr>
  </table>


</div>