
.dates {
    text-align: center;
}

.box {
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
    clear: both;
  }
  
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.th-study {
  border: 1px solid black;
  padding: 8px;
}

.tr-study-blu {
    background-color: lightblue;
}